.bgItem {
    position: relative;
    min-height: calc(100vh - 56px);
    padding: 50px 0 100px;
}

.bgItem::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    content: '';
    z-index: 2;
}

.bgItemImg {
    position: absolute;
    left: 50%;
    min-width: 100%;
    height: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.bgCont {
    position: relative;
    z-index: 99;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1180px;
    margin: 0 auto;
}

.moviePhoto {
    width: 50%;
    text-align: center;
}

.moviePhoto img {
    max-height: 500px;
}

.movieCont {
    padding-left: 50px;
    width: 50%;
}

.movieCont .movieList {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.movieList li {
    margin-right: 15px;
    opacity: 0.7;
}

.content {
    padding: 20px;
    background: rgba(0, 0, 0, 0.3);
    margin: 30px 0;
}

.back {
    position: relative;
    z-index: 9;
    max-width: 1200px;
    margin: 0 auto 30px;
    width: 95%;
}

.back svg {
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    padding: 10px;
    transition: all 0.5s;
    cursor: pointer;
}

.back svg:hover {
    opacity: 0.7;
}

@media screen and (max-width: 769px) {
    .moviePhoto {
        width: 100%;
    }

    .moviePhoto img {
        max-height: 300px;
    }

    .movieCont {
        width: 95%;
        margin: 0 auto;
        margin-top: 20px;
        padding: 0;
    }
}