@font-face {
    font-family: 'OKCHAN';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/OKCHAN.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* .wrap {
    padding-bottom: 100px;
} */

.inner {
    padding-left: 3%;
}

.top_rank {
    padding-top: 50px;
    font-family: 'OKCHAN';
    color: #fff;
    text-shadow: 5px 0px 5px black;
}