.SearchRoute {
    max-width: 1200px;
    margin: 50px auto;
    width: 95%;
}

.SearchList {
    padding: 0;
}

.SearchList li {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    width: calc((100% - 60px)/4);
}

.SearchList li:nth-child(4n) {
    margin-right: 0;
}