@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

.slide_box {
    margin-top: 50px;
    position: relative;
}


.slide_box img {
    max-width: 100%;
}

.movies {
    transition: all 0.8s;
    cursor: pointer;
}

.movies:hover {
    opacity: 0.6;
    transform: scale(0.9);
}

.title {
    font-size: 20px;
    margin: 10px auto;
    text-align: center;
    max-width: 230px;
}

.titleImg {
    margin: 0 auto;
    display: block;
    max-width: 230px;
}

.year {
    text-align: center;
    max-width: 230px;
    display: block;
    margin: 0 auto;
    opacity: 0.5;
    font-size: 16px;
}


/* hide_box */
.hide_box {
    position: absolute;
    background-image: linear-gradient(to bottom, #434343 0%, black 100%);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 110%;
    overflow-y: auto;
    border-radius: 20px;
    box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.02);
    padding: 40px 20px;
    z-index: 999;
}

.hide_box::-webkit-scrollbar {
    width: 0;
}

.hide_box img {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;

}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding-top: 3px;
    transition: all 0.5s;
}

.close:hover {
    opacity: 0.8;
}

.view {
    font-size: 18px;
    background: rgba(255, 255, 255, 0.3);
    padding: 8px 30px;
    border-radius: 50px;
    display: block;
    margin: 0 auto;
}

.genres {
    margin-left: 0;
    padding: 0;
}

.genres li {
    margin-right: 15px;
    opacity: 0.5;
    display: inline-block;
    font-size: 14px;
}

.summary {
    font-size: 16px;
}

@media screen and (max-width: 769px) {
    .title {
        font-size: 18px;
    }

    .year {
        font-size: 15px;
    }
}